html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

a.hover {
  background-color: transparent; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #b3b3b3 url("../images/bg.jpg") repeat;
  text-shadow: 0px 1px white;
  font-size: 13px;
  color: #e2e2e1;
  font-family: Helvetica, Verdana, Arial, sans-serif; }

#wrapper {
  width: 960px;
  margin: 0 auto;
  font-size: 13px; }
  #wrapper #header {
    margin: 0 0 20px 10px;
    font-size: 13px; }
    #wrapper #header #current-user {
      height: 30px;
      text-align: right;
      color: #333333; }
      #wrapper #header #current-user a {
        color: #333333; }
      #wrapper #header #current-user a:hover {
        background-color: transparent; }
    #wrapper #header #title {
      margin: 0;
      font-size: 31px;
      vertical-align: middle;
      color: #333333; }
      #wrapper #header #title img {
        float: left;
        margin-right: 20px; }
  #wrapper #menu {
    font-size: 12px;
    line-height: 30px;
    margin: 5px 5px 5px 0px; }
  #wrapper #frame {
    padding: 5px;
    background-color: #f3f3f3; }
  #wrapper #content {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    min-height: 400px;
    background-color: #fefffe;
    font-size: 13px;
    position: relative;
    padding: 20px; }
    #wrapper #content .flash {
      padding: 7px 0 7px 20px;
      background-color: #ffffcc;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-bottom: 12px;
      border: 1px solid; }
      #wrapper #content .flash .notice {
        color: #006600; }
      #wrapper #content .flash .alert {
        color: #cc0000; }
      #wrapper #content .flash p {
        margin: 0;
        padding: 0; }
    #wrapper #content ul {
      margin-bottom: 12px; }
  #wrapper #footer {
    text-shadow: 0px 1px white;
    color: #b3b3b3;
    line-height: 20px;
    margin: 5px; }

body {
  font-size: 62.5%;
  font-family: arial, sans-serif;
  color: black; }
  body #wrapper {
    font-size: 1.4em;
    line-height: 1.5; }
    body #wrapper h1 {
      font-size: 1.6em;
      margin-bottom: 12px; }
    body #wrapper h2, body #wrapper h3 {
      font-size: 1.2em;
      margin-bottom: 12px; }
    body #wrapper h2 {
      font-size: 1.4em; }
    body #wrapper p {
      margin-bottom: 12px; }
    body #wrapper dl {
      padding-bottom: 12px; }
      body #wrapper dl dt {
        font-weight: bold; }
      body #wrapper dl dd {
        margin-bottom: 12px;
        padding-left: 12px; }

form fieldset {
  overflow: auto;
  border: none;
  margin-bottom: 1.5em; }
  form fieldset label {
    display: block;
    width: 25%;
    float: left;
    padding-top: 0.2em; }
  form fieldset input {
    line-height: 100%;
    vertical-align: middle;
    margin-top: -0.1em; }

table {
  margin-bottom: 12px; }
  table tr th {
    background-color: #cccccc; }
  table tr td, table tr th {
    text-align: center;
    vertical-align: middle;
    padding: 3px 5px;
    border: 1px solid #aaaaaa; }

#address {
  margin-left: 20px; }

.button {
  text-decoration: none;
  outline: 0;
  padding: 5px 12px;
  display: inline;
  color: #eeeeee;
  font-weight: bold;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #232b30;
  background: -moz-linear-gradient(top, #3d4850 3%, #313d45 4%, #232b30 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #3d4850), color-stop(4%, #313d45), color-stop(100%, #232b30));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 );
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

.button:hover {
  color: white;
  background: #4c5a64;
  background: -moz-linear-gradient(top, #4c5a64 3%, #404f5a 4%, #2e3940 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #4c5a64), color-stop(4%, #404f5a), color-stop(100%, #2e3940));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); }

.button:active {
  background-position: 0 top;
  position: relative;
  top: 1px;
  color: white;
  padding: 6px 12px 4px;
  background: #20282d;
  background: -moz-linear-gradient(top, #20282d 3%, #252e34 51%, #222a30 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #20282d), color-stop(51%, #252e34), color-stop(100%, #222a30));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20282D', endColorstr='#222A30',GradientType=0 );
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1); }

.button-list {
  list-style: none;
  padding: 0; }

.button-list li {
  display: inline;
  width: 150px;
  margin: 5px; }
