- content_for(:title, 'Login')

%h1 Login

%form{ :action => "login", :method => "post" }

  %fieldset
    %label{ :for => "user_username" } Username:
    %input{ :type => "text", :size => "20", :name => "user[username]" }
  
  %fieldset
    %label{ :for => "user_password" } Password:
    %input{ :type => "password", :size => "20", :name => "user[password]" }
  
  %fieldset
    %button{ :type => "submit" } Login
