a.button
  background: #fff url(../images/icons/add.png) no-repeat 5px center
  border: 1px solid #cccccc
  padding: 3px 10px 3px 25px
  color: #66695C
  -moz-border-radius: 10px
  border-radius: 10px
  margin 12px 0
  text-decoration: none

a.button:hover
  background-color: #f0f0f0
  color: #66695C
  text-decoration: none

a.view
  background-image: url(../images/icons/view.png)
a.back
  background-image: url(../images/icons/arrow_left.png)
a.edit
  background-image: url(../images/icons/edit.png)
a.delete
  background-image: url(../images/icons/cancel.png)
a.manage
  background-image: url(../images/icons/cog.png)

#address
  margin-left: 20px