%form{ :action => "login", :method => "post" }

  %label{ :for => "user_username" } Username:
  %input{ :type => "text", :size => "20", :name => "user[username]" }
  
  %label{ :for => "user_password" } Password:
  %input{ :type => "password", :size => "20", :name => "user[password]" }

  %label{ :for => "user_password_confirmation"} Password Confirmation:
  %input{ :type => "password", :size => "20", :name => "user[password_confirmation]" }
  
  %button{ :type => "submit" } Login